*{
    padding: 0%;
    margin: 0%;

}
.mynavbar
{
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.171);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.329);
}
 .mycol{ 
    color: #333333d7;
    font-weight: 500;
    /* background-color: pink;
    border:  1px solid black; */
}

.enroll-btn{
    background-color: #FFB013;
    color: #FFFFFF;
    width: 40%;
    height: 100%;
    border: none;
    outline: none;
    font-weight: bolder;
    
}
.baricon{
    font-size: 25px;
}
.icon-col{
    display: none;
}
/*Add menu icon in navbar.......... */ 
@media (max-width:1200px) {
    .icon-col{
        display: block;
    }
    .mycol{
        display: none;
    }
}
/* this is for responsive navbar................*/
@media screen and (max-width: 1200px) {
   .mynavbar{
    height: 5rem;
    /* border: 2px solid black; */
   }
   .logo{
    height: 20%;
    width: 20%;
   }
}
  
  @media screen and (min-width: 1201px) {
    .mynavbar{
        height:5rem;
        /* border: 2px solid black; */
       }
    .logo{
        height: 100%;
        width: 30%;
    }
}
  /* End................*/  
.hr{
    border-bottom: 1px solid #FFB013;
}
.bundle-cors{
    color: black;
    font-weight: 700;
    text-shadow: 3px 3px 7px #FFB013;
}
/* .swiper-col{
   
    border: 2px solid #FFB013;
} */
/* .inner-swiper{
    border: 2px solid #FFB013;;
} */
.cors-heading{
    
    font-weight: 700;
}
.inner-swiper{
    border: 1px solid #FFB013;
    box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.267);
}
.mybannercont{
   
    width: 100%;
  height: 50vh;
  background-color: #FFB013;
  position: relative;
  overflow: hidden;
}
.mybanner{
    width: 100%;
    height: 100%;
}
.button-cont{
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 180px;
    /* background-color: #FFB013; */
}

.button-cont button{
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #c0bcbc;
}
.bnr-btn-icon
{
   width: 20px;
   height: 20px;
    
}

 /* @media screen and (max-width: 1200px) {
    .mybannercont{
        height: 50vh;
       
      }

 }
 @media screen and (max-width: 992px) {
    .mybannercont{
        height: 45vh;
       
      }
 } */
 /* @media screen and (max-width: 768px) {
    .mybannercont{
        height: 40vh;
       
      }
 } */
 @media screen and (max-width: 576px) {
    .mybannercont{
        height: 45vh;
      }
      .mybanner{
        width:70%; 
    }
    .button-cont{
        padding: 2rem 1rem;
    }
 } 
 @media screen and (max-width: 406px) {
    .mybannercont{
        height: 40vh;
      }
      .mybanner{
        width: 50%; 
    }
    .button-cont{
        padding: 2rem 0%;
    }
    .bundle-cors{
        font-size: 10px;
        font-weight: 700;
    }
 } 
.slide{
    transition: 1s;
    height: 100%;
    width: 100%;
    position: absolute;
 
}

